name: build
on: [pull_request]

jobs:
  build:
    if: github.repository_owner == 'hazelcast'
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    name: Build
    env:
      MAVEN_ARGS: --batch-mode --show-version
    steps:
      - uses: actions/checkout@v6
      - name: Read Java Config
        run: cat ${{ github.workspace }}/.github/java-config.env >> $GITHUB_ENV
      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          java-version: ${{ env.JAVA_VERSION }}
          architecture: 'x64'
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          cache: 'maven'

      - uses: hazelcast/docker-actions/setup-maven-snapshot-internal@master
        with:
          aws-role-to-assume: ${{ secrets.AWS_HAZELCAST_OIDC_GITHUB_ACTIONS_ROLE_ARN }}

      - name: Build with Maven
        run: |
          ./mvnw \
            clean \
            package \
            --activate-profiles checkstyle,findbugs
