name: build
on:
  pull_request_target:
    types:
      - labeled
    branches:
      - main
    paths-ignore:
      - '**.md'
  pull_request:
    branches:
      - main
    paths-ignore:
      - '**.md'

jobs:
  build:
    if: >-
      always() && (
      (github.event_name == 'pull_request_target'
        && github.event.action == 'labeled'
        && github.event.label.name == 'safe-to-test'
        && github.event.pull_request.head.repo.full_name != github.repository)
      ||
      (github.event_name == 'pull_request'
        && github.event.pull_request.head.repo.full_name == github.repository) )
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '8' ]
        architecture: [ 'x64' ]
        distribution: [ 'adopt' ]
    name: Build
    steps:
      - uses: actions/checkout@v3
      - name: Setup JDK
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java }}
          architecture: ${{ matrix.architecture }}
          distribution: ${{ matrix.distribution }}

      - uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven-

      - name: Build with Maven
        run: ./mvnw package -P checkstyle,findbugs
