name: Deploy SNAPSHOT version
on:
  push:
    branches:
      - 'main'
      - '[0-9]+.[0-9]+.z'
    paths-ignore:
      - '**.md'
  workflow_dispatch:

jobs:
  build:
    if: github.repository_owner == 'hazelcast'
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    name: Build SNAPSHOT version
    env:
      MAVEN_ARGS: --batch-mode --no-transfer-progress --show-version
    steps:
      - uses: actions/checkout@v6
      - name: Read Java Config
        run: cat ${{ github.workspace }}/.github/java-config.env >> $GITHUB_ENV
      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          server-id: deploy-repository
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
          architecture: 'x64'
          gpg-private-key: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE
          cache: 'maven'

      - uses: hazelcast/docker-actions/setup-maven-snapshot-internal@master
        with:
          aws-role-to-assume: ${{ secrets.AWS_HAZELCAST_OIDC_GITHUB_ACTIONS_ROLE_ARN }}
          # Don't overwrite default - we want one config for building/resolving dependencies, another for deploying & authentication
          maven-settings-path: settings.xml

      - name: Build with Maven
        run: |
          ./mvnw \
            --settings settings.xml \
            install

      - name: Deploy OS with Maven
        run: |
          ./mvnw \
            deploy \
            -Djdbc-release \
            -DskipTests \
            --activate-profiles release-central-staging
        env:
          MAVEN_USERNAME: ${{ secrets.SONATYPE_OSS_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.SONATYPE_OSS_PASSWORD }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.MAVEN_GPG_PASSPHRASE }}

      - uses: hazelcast/docker-actions/get-jfrog-credentials@master
        id: jfrog
        with:
          aws-role-to-assume: ${{ secrets.AWS_HAZELCAST_OIDC_GITHUB_ACTIONS_ROLE_ARN }}
          jfrog-oidc-provider-name: ${{ github.repository_owner }}-write-dev-account

      - name: Deploy EE with Maven
        run: |
          ./mvnw \
            --file hazelcast-jdbc-enterprise \
            deploy \
            -Djdbc-release \
            -DskipTests
        env:
          MAVEN_USERNAME: ${{ steps.jfrog.outputs.user }}
          MAVEN_PASSWORD: ${{ steps.jfrog.outputs.token }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.MAVEN_GPG_PASSPHRASE }}
